body {
  background: #9DC183;
    padding: 20px;
    font-family: Arial;
    margin: 0;
    padding: 0;
}
    
/* Header Title */
header {
  font-family: 'Times New Roman', Times, serif;
  color: #76FF7A;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

div.gallery {
  border: 5px solid green;
}
        
div.gallery:hover {
  border: 5px solid #76FF7A;
}
        
div.gallery img {
  width: 100%;
  height: auto;
}
        
div.desc {
  padding: 15px;
  text-align: center;
}
        
* {
  box-sizing: border-box;
}
        
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
        
@media only screen and (max-width: 700px) {
.responsive {
  width: 49.99999%;
  margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
.responsive {
   width: 100%;
  }
}
        
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.h2 {
  font-family: 'Courier New', Courier, monospace;
  position: center;
}

h1 {
  padding: 2px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: white;
}

/* Table*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.back-button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none; /* Removes underline from the link */
  display: inline-block; /* Make the link behave like a button */
}

.back-button:hover {
  background-color: #45a049; /* Darker green when hovered */
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Style the footer */
footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(135deg, #3F704D, #708238);
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  color: white;
}
